<nav class="navbar">
  <div class="navbar-brand">Student Grades</div>
  <div class="navbar-links">
    <a routerLink="/students">Students</a>
    <a routerLink="/subjects">Subjects</a>
    <a routerLink="/grades">Grades</a>

    <a routerLink="/employees">Employees</a>
    <a routerLink="/departments">Departments</a>
    <a routerLink="/tasks">Tasks</a>

    <a routerLink="/clients">Clients</a>
    <a routerLink="/orders">Orders</a>
    <a routerLink="/suppliers">Suppliers</a>

    <a routerLink="/products">Products</a>
    <a routerLink="/purchase-orders">Purchase Orders</a>
  </div>
</nav>
